GEMINI_API_KEY=sua_chave_gemini
NEXT_PUBLIC_SUPABASE_URL=seu_url_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anon_supabase
SUPABASE_SERVICE_ROLE_KEY=sua_chave_service_role_supabase
GROQ_API_KEY=sua_chave_groq