@import "tailwindcss";
@plugin "@tailwindcss/typography"; /* <-- CARREGAR O PLUGIN AQUI */

@theme {
  --animate-slide-up: slideUpFade 0.4s ease-out forwards;
  --animate-pulse-slow: pulseSlow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  
  @keyframes slideUpFade {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes pulseSlow {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

/* Base Styles */
@layer base {
  body {
    @apply font-sans antialiased transition-colors duration-300;
  }
}

/* Componentes Personalizados (Para os balões de mensagem ficarem legíveis) */
@layer components {
  /* Scrollbar customizada */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-700;
  }

  /* Blindagem para o balão do utilizador no Modo Escuro */
  .prose-bubble-user p {
    @apply text-white dark:text-zinc-950 font-medium;
  }
}